#bu--files-picker {
    display: none !important;
}

.scroll-test {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#bu--dialog {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    font-family: 'OpenSans';
}


#bu--dialog .bu--panel {
    display: flex;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 10px 15px;
    border: none;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

#bu--dialog .bu--panel .bu--panel-header {
    display: block;
    background-color: #ffffff;
    position: relative;
    height: 60px;
    line-height: 50px;
    flex: 0 0 60px;
    font-family: 'OpenSans';
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #e8e8e8;
    overflow: hidden;
}

#bu--dialog .bu--panel .bu--panel-body {
    display: flex;
    position: relative;
    width: 100%;
    flex: 1 1 calc(100% - 150px);
    flex-direction: column;
    margin: 0px;
    padding: 10px 0px;
    overflow: hidden;
}

#bu--dialog .bu--panel .bu--panel-footer {
    display: block;
    background-color: #ffffff;
    height: 60px;
    flex: 0 0 60px;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid #e3e1e2;
    overflow: hidden;
}

#bu--dialog .bu--panel .bu--panel-footer .bu--footer-nav {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0px -15px;
    padding: 0px;
}

#bu--dialog .bu--panel .bu--panel-footer .bu--footer-nav .bu--footer-nav--left,
#bu--dialog .bu--panel .bu--panel-footer .bu--footer-nav .bu--footer-nav--right {
    display: block;
    flex: 1 1 auto;
    max-width: 50%;
    padding: 0px 15px;
}


#bu--dialog .bu--panel .bu--panel-footer .bu--footer-nav .bu--footer-nav--left {

}

#bu--dialog .bu--panel .bu--panel-footer .bu--footer-nav .bu--footer-nav--right {
    text-align: right
}



#bu--dialog .bu--panel .bu--button {
    display: inline-block;
    background-color: transparent;
    width: 100%;
    max-width: 160px;
    font-family: 'OpenSans Bold';
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: #c1c1c1;
    margin: 0px 0px 0px 0px;
    padding: 6px 30px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

#bu--dialog .bu--panel .bu--button:hover {
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
}

#bu--dialog .bu--panel .bu--button.bu--button-red {
    color: #d80e24;
    border: 1px solid #d80e24;
}

#bu--dialog .bu--panel .bu--button.bu--button-red:hover {
    color: #a80b1d;
    border: 1px solid #a80b1d;
}

#bu--dialog .bu--panel .bu--button.bu--button-primary {
    background-color: #d80e24;
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 7px 31px;
    border: none;
}

#bu--dialog .bu--panel .bu--button.bu--button-primary:hover {
    background-color: #c00c21;
    color: #FFFFFF;
    border: none;
}

#bu--dialog .bu--panel .bu--button.bu--button-disabled {
    background-color: #cecece;
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    padding: 7px 31px;
    border: none;
    cursor: default;
}

#bu--dialog .bu--panel .bu--button.bu--button-disabled:hover {
    background-color: #cecece;
    color: #FFFFFF;
    border: none;
}

#bu--dialog .bu--panel .bu--panel-body > .bu--loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
    #bu--dialog .bu--panel {
        width: 90vw;
        height: 90vh;
        max-width: 1170px;
        max-height: 700px;
        padding: 10px 30px;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}


/*
 *     Uploader
 */

#bu--dialog.bu--uploader .bu--panel-body {

}

#bu--dialog.bu--uploader .bu--panel-body .bu--uploader-header {
    display: flex;
    flex: 0 0 81px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--select-files {
    max-width: 320px;
    padding: 10px 0px;
    margin: 0px;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--max-file-size-info {
    font-family: 'OpenSans Bold';
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    color: #919191;
    margin: 8px 0px;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list {
    display: block;
    position: relative;
    width: 100%;
    flex: 0 0 calc(100% - 115px);
    list-style-type: none;
    margin: 0px;
    padding: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list.bu--dragin {
    background-color: #f1f1f1;
    padding: 0px;
    border: 2px dashed #157cfc;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file {
    display: flex;
    background-color: transparent;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0px;
    margin: 0px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: default;
    transition: background-color 0.2s;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file:hover {
    background-color: #f9f7f8;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list.bu--dragin .bu--file,
#bu--dialog.bu--uploader .bu--panel-body .bu--files-list.bu--dragin .bu--file:hover {
    background-color: transparent;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file:last-child {
    border-bottom: none;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-preview {
    display: flex;
    background-color: #e9e7e8;
    position: relative;
    height: 60px;
    flex: 0 0 60px;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 10px;
    padding: 0px;
    border: 1px solid #e9e7e8;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color 0.2s;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file.uploaded .bu--file-preview {
    background-color: transparent;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file.uploaded .bu--file-preview .bu--loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-details {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 10px;
    overflow: hidden;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-details .bu--file-name {
    max-width: calc(100% - 54px);
    flex: 0 0 calc(100% - 54px);
    font-family: 'OpenSans Bold';
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5c5c5c;
    overflow: hidden;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-details .bu--file-size {
    display: flex;
    max-width: 54px;
    flex: 0 0 54px;
    justify-content: flex-end;
    align-items: center;
    font-family: 'OpenSans Bold';
    font-size: 12px;
    white-space: nowrap;
    color: #a3a1a2;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-details .bu--file-upload-progress {
    flex: 0 0 100%;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-details .bu--file-upload-progress .bu--progressbar {
    display: none;
    background-color: #e9e7e8;
    width: 100%;
    height: 10px;
    margin: 6px 0px 0px 0px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-details .bu--file-upload-progress .bu--progressbar .bu--progress {
    display: block;
    background-color: #d80e24;
    width: 0%;
    height: 100%;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-actions {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin: 0px;
    padding: 0px 10px;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-actions .bu--file-action-button {
    font-size: 26px;
    color: #a3a1a2;
    cursor: pointer;
    transition: color 0.2s;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-actions .bu--file-action-button:hover {
    color: #848484;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-list .bu--file .bu--file-details .bu--file-upload-progress .bu--file-upload-error {
    font-size: 12px;
    color: #d80e24;
}

#bu--dialog.bu--uploader .bu--panel-body .bu--files-counter {
    display: block;
    width: 100%;
    height: 34px;
    flex: 0 0 34px;
    font-family: 'OpenSans Bold';
    text-align: center;
    color: #919191;
    padding: 10px 0px 0px 0px;
}



@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
    #bu--dialog.bu--uploader .bu--panel {
        max-width: 700px;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

/* Uploader end //////////////////////////////////////////////////////////////*/

/*
 *    Editor
 */

#bu--dialog.bu--editor .bu--panel-body {
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#bu--dialog.bu--editor .bu--panel-body .bu--editor-file-error {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: #d80e24;
    transform: translateY(-50%);
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content {
    display: block;
    width: 100%;
    height: 100%;
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--cropper {
    display: none;
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--editor-content .bu--editor-preview,
#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--cropper .bu--cropper-holder {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 60px);
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--cropper .bu--cropper-holder {
    height: calc(100% - 80px);
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--editor-content .bu--editor-preview img,
#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--cropper .bu--cropper-holder img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--editor-content .bu--editor-preview .bu--loader,
#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--cropper .bu--cropper-holder .bu--loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#bu--dialog.bu--editor .bu--panel-body .bu--panel-content .bu--panel-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--cropper .bu--panel-menu {
    align-items: flex-end;
    height: 80px;
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content .bu--panel-menu .bu--menu-item {
    display: inline-flex;
    position: relative;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    padding: 0px 15px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.2s;
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content .bu--panel-menu .bu--menu-item:hover {
    opacity: 0.7;
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content .bu--panel-menu .bu--menu-item.bu--item-current {
    font-family: 'OpenSans Bold';
    color: #157cfc;
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content .bu--panel-menu .bu--menu-item.bu--item-current .bu--crop-size {
    max-width: 30px;
    max-height: 30px;
    border-color: #157cfc;
}

#bu--dialog.bu--editor .bu--panel-body .bu--panel-content.bu--cropper .bu--panel-menu .bu--menu-item::after {
    display: block;
    content: attr(data-aspect-ratio);
    font-size: 14px;
    margin-top: 10px;
}

#bu--dialog.bu--editor .bu--crop-size {
    border: 2px solid #333333;
    transition: border 0.2s;
}




/* Cropper */















/*#bu--dialog.bu--editor .bu--panel-body .bu--editor-preview,
#bu--dialog.bu--editor .bu--panel-body .bu--editor-cropper {
    display: flex;
    position: relative;
    width: 100%;
    max-height: calc(100% - 50px);
    flex: 0 0 calc(100% - 50px);
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

#bu--dialog.bu--editor .bu--panel-body .bu--editor-preview .bu--loader,
#bu--dialog.bu--editor .bu--panel-body .bu--editor-cropper .bu--loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bu--dialog.bu--editor .bu--panel-body .bu--editor-preview img,
#bu--dialog.bu--editor .bu--panel-body .bu--editor-cropper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#bu--dialog.bu--editor .bu--panel-body .bu--editor-effects {
    display: flex;
    width: 100%;
    height: 50px;
    flex: 0 0 50px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #e3e1e2;
}

#bu--dialog.bu--editor .bu--panel-body .bu--editor-effects .bu--editor-effect-button {
    display: inline-flex;
    max-width: 80px;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
    border: none;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.2s;
}

#bu--dialog.bu--editor .bu--panel-body .bu--editor-effects .bu--editor-effect-button.bu--editor-button-active {
    padding-bottom: 3px;
    border-bottom: 3px solid #d80e24;
}

#bu--dialog.bu--editor .bu--panel-body .bu--editor-effects .bu--editor-effect-button:hover {
    opacity: 0.6;
}*/


@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}


/* Editor end ////////////////////////////////////////////////////////////////*/




/* Icons */
.bu--icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}

/* Icon - crop */
.bu--icon.icon-crop {
    background: url('../../assets/icons/icons.svg') calc(0px * 0.5) calc(0px * 0.5) no-repeat;
    background-size: calc(1000px * 0.5) calc(1000px * 0.5);
    width: 16px;
    height: 16px;
}

.bu--icon.icon-crop.sm {
    background: url('../../assets/icons/icons.svg') calc(0px * 0.75) calc(0px * 0.75) no-repeat;
    background-size: calc(1000px * 0.75) calc(1000px * 0.75);
    width: 24px;
    height: 24px;
}

.bu--icon.icon-crop.md {
    background: url('../../assets/icons/icons.svg') 0px 0px no-repeat;
    width: 32px;
    height: 32px;
}

.bu--icon.icon-crop.lg {
    background: url('../../assets/icons/icons.svg') calc(0px * 1.25) calc(0px * 1.25) no-repeat;
    background-size: calc(1000px * 1.25) calc(1000px * 1.25);
    width: 40px;
    height: 40px;
}

.bu--icon.icon-crop.xl {
    background: url('../../assets/icons/icons.svg') calc(0px * 1.5) calc(0px * 1.5) no-repeat;
    background-size: calc(1000px * 1.5) calc(1000px * 1.5);
    width: 48px;
    height: 48px;
}


/* Icon - rotate */
.bu--icon.icon-rotate {
    background: url('../../assets/icons/icons.svg') calc(-32px * 0.5) calc(0px * 0.5) no-repeat;
    background-size: calc(1000px * 0.5) calc(1000px * 0.5);
    width: 16px;
    height: 16px;
}

.bu--icon.icon-rotate.sm {
    background: url('../../assets/icons/icons.svg') calc(-32px * 0.75) calc(0px * 0.75) no-repeat;
    background-size: calc(1000px * 0.75) calc(1000px * 0.75);
    width: 24px;
    height: 24px;
}

.bu--icon.icon-rotate.md {
    background: url('../../assets/icons/icons.svg') -32px 0px no-repeat;
    width: 32px;
    height: 32px;
}

.bu--icon.icon-rotate.lg {
    background: url('../../assets/icons/icons.svg') calc(-32px * 1.25) calc(0px * 1.25) no-repeat;
    background-size: calc(1000px * 1.25) calc(1000px * 1.25);
    width: 40px;
    height: 40px;
}

.bu--icon.icon-rotate.xl {
    background: url('../../assets/icons/icons.svg') calc(-32px * 1.5) calc(0px * 1.5) no-repeat;
    background-size: calc(1000px * 1.5) calc(1000px * 1.5);
    width: 48px;
    height: 48px;
}



/* Icon - flip */
.bu--icon.icon-flip {
    background: url('../../assets/icons/icons.svg') calc(-64px * 0.5) calc(0px * 0.5) no-repeat;
    background-size: calc(1000px * 0.5) calc(1000px * 0.5);
    width: 16px;
    height: 16px;
}

.bu--icon.icon-flip.sm {
    background: url('../../assets/icons/icons.svg') calc(-64px * 0.75) calc(0px * 0.75) no-repeat;
    background-size: calc(1000px * 0.75) calc(1000px * 0.75);
    width: 24px;
    height: 24px;
}

.bu--icon.icon-flip.md {
    background: url('../../assets/icons/icons.svg') -64px 0px no-repeat;
    width: 32px;
    height: 32px;
}

.bu--icon.icon-flip.lg {
    background: url('../../assets/icons/icons.svg') calc(-64px * 1.25) calc(0px * 1.25) no-repeat;
    background-size: calc(1000px * 1.25) calc(1000px * 1.25);
    width: 40px;
    height: 40px;
}

.bu--icon.icon-flip.xl {
    background: url('../../assets/icons/icons.svg') calc(-64px * 1.5) calc(0px * 1.5) no-repeat;
    background-size: calc(1000px * 1.5) calc(1000px * 1.5);
    width: 48px;
    height: 48px;
}



/* Icon - mirror */
.bu--icon.icon-mirror {
    background: url('../../assets/icons/icons.svg') calc(-96px * 0.5) calc(0px * 0.5) no-repeat;
    background-size: calc(1000px * 0.5) calc(1000px * 0.5);
    width: 16px;
    height: 16px;
}

.bu--icon.icon-mirror.sm {
    background: url('../../assets/icons/icons.svg') calc(-96px * 0.75) calc(0px * 0.75) no-repeat;
    background-size: calc(1000px * 0.75) calc(1000px * 0.75);
    width: 24px;
    height: 24px;
}

.bu--icon.icon-mirror.md {
    background: url('../../assets/icons/icons.svg') -96px 0px no-repeat;
    width: 32px;
    height: 32px;
}

.bu--icon.icon-mirror.lg {
    background: url('../../assets/icons/icons.svg') calc(-96px * 1.25) calc(0px * 1.25) no-repeat;
    background-size: calc(1000px * 1.25) calc(1000px * 1.25);
    width: 40px;
    height: 40px;
}

.bu--icon.icon-mirror.xl {
    background: url('../../assets/icons/icons.svg') calc(-96px * 1.5) calc(0px * 1.5) no-repeat;
    background-size: calc(1000px * 1.5) calc(1000px * 1.5);
    width: 48px;
    height: 48px;
}



/* Icon - grayscale */
.bu--icon.icon-grayscale {
    background: url('../../assets/icons/icons.svg') calc(-128px * 0.5) calc(0px * 0.5) no-repeat;
    background-size: calc(1000px * 0.5) calc(1000px * 0.5);
    width: 16px;
    height: 16px;
}

.bu--icon.icon-grayscale.sm {
    background: url('../../assets/icons/icons.svg') calc(-128px * 0.75) calc(0px * 0.75) no-repeat;
    background-size: calc(1000px * 0.75) calc(1000px * 0.75);
    width: 24px;
    height: 24px;
}

.bu--icon.icon-grayscale.md {
    background: url('../../assets/icons/icons.svg') -128px 0px no-repeat;
    width: 32px;
    height: 32px;
}

.bu--icon.icon-grayscale.lg {
    background: url('../../assets/icons/icons.svg') calc(-128px * 1.25) calc(0px * 1.25) no-repeat;
    background-size: calc(1000px * 1.25) calc(1000px * 1.25);
    width: 40px;
    height: 40px;
}

.bu--icon.icon-grayscale.xl {
    background: url('../../assets/icons/icons.svg') calc(-128px * 1.5) calc(0px * 1.5) no-repeat;
    background-size: calc(1000px * 1.5) calc(1000px * 1.5);
    width: 48px;
    height: 48px;
}



/* Icon - negative */
.bu--icon.icon-negative {
    background: url('../../assets/icons/icons.svg') calc(-160px * 0.5) calc(0px * 0.5) no-repeat;
    background-size: calc(1000px * 0.5) calc(1000px * 0.5);
    width: 16px;
    height: 16px;
}

.bu--icon.icon-negative.sm {
    background: url('../../assets/icons/icons.svg') calc(-160px * 0.75) calc(0px * 0.75) no-repeat;
    background-size: calc(1000px * 0.75) calc(1000px * 0.75);
    width: 24px;
    height: 24px;
}

.bu--icon.icon-negative.md {
    background: url('../../assets/icons/icons.svg') -160px 0px no-repeat;
    width: 32px;
    height: 32px;
}

.bu--icon.icon-negative.lg {
    background: url('../../assets/icons/icons.svg') calc(-160px * 1.25) calc(0px * 1.25) no-repeat;
    background-size: calc(1000px * 1.25) calc(1000px * 1.25);
    width: 40px;
    height: 40px;
}

.bu--icon.icon-negative.xl {
    background: url('../../assets/icons/icons.svg') calc(-160px * 1.5) calc(0px * 1.5) no-repeat;
    background-size: calc(1000px * 1.5) calc(1000px * 1.5);
    width: 48px;
    height: 48px;
}



/* Loader */
#bu--dialog .bu--loader {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

#bu--dialog .bu--loader:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #D80E24;
    border-right: 2px solid transparent;
    animation: booklet-uploader-spinner .6s linear infinite;
}

#bu--dialog .bu--loader.sm {
    width: 30px;
    height: 30px;
}

#bu--dialog .bu--loader.sm:before {
    margin-top: -15px;
    margin-left: -15px;
    border-top: 3px solid #D80E24;
    border-right: 3px solid transparent;
}

#bu--dialog .bu--loader.md {
    width: 40px;
    height: 40px;
}

#bu--dialog .bu--loader.md:before {
    margin-top: -20px;
    margin-left: -20px;
    border-top: 3px solid #D80E24;
    border-right: 3px solid transparent;
}

#bu--dialog .bu--loader.lg {
    width: 60px;
    height: 60px;
}

#bu--dialog .bu--loader.lg:before {
    margin-top: -30px;
    margin-left: -30px;
    border-top: 4px solid #D80E24;
    border-right: 4px solid transparent;
}

#bu--dialog .bu--loader.xl {
    width: 100px;
    height: 100px;
}

#bu--dialog .bu--loader.xl:before {
    margin-top: -50px;
    margin-left: -50px;
    border-top: 6px solid #D80E24;
    border-right: 6px solid transparent;
}

@keyframes booklet-uploader-spinner {
    to { transform: rotate(360deg); }
}
