<script id="booklet-uploader-panel" type="text/html">
    <div id="booklet-uploader--dialog">
        <input id="booklet-uploader--files-picker" class="booklet-uploader--files-picker" type="file" />
        <div class="booklet-uploader--panel">
            <div class="booklet-uploader--panel-header">
                {{{panel_title}}}
                <button class="booklet-uploader--dialog-close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="booklet-uploader--panel-content">
                <div class="booklet-uploader--drop-area">
                    <div class="booklet-uploader--drop-area-text">
                        {{{drop_area}}}
                    </div>
                    <label class="booklet-uploader--select-files" for="booklet-uploader--files-picker">
                        {{{files_picker}}}
                    </label>
                    {{#file_size_limit_info}}
                        <div class="booklet-uploader--max-file-size-info">
                            {{{file_size_limit_info}}}
                        </div>
                    {{/file_size_limit_info}}
                </div>
                <ul class="booklet-uploader--files-list"></ul>
            </div>
            <div class="booklet-uploader--panel-footer">
                <div class="booklet-uploader--files-counter">
                    {{{files_counter}}}
                </div>
                <button class="booklet-uploader--dialog-done">
                    {{{done}}}
                </button>
            </div>
        </div>
    </div>
</script>

<script id="booklet-uploader-file" type="text/html">
    <li class="booklet-uploader--file file-{{file_hash}}" data-hash="{{file_hash}}">
        <div class="booklet-uploader--file-preview"></div>
        <div class="booklet-uploader--file-details">
            <span class="booklet-uploader--file-name">{{file_name}}</span>
            <span class="booklet-uploader--file-size">{{file_size}}</span>
            <span class="booklet-uploader--upload-error"></span>
        </div>
        <div class="booklet-uploader--upload-progress" style="display: none;">
            <div class="booklet-uploader--progressbar">
                <div class="booklet-uploader--progress" style="width: 0%;"></div>
            </div>
        </div>
        <div class="booklet-uploader--file-actions">
            <button class="booklet-uploader--file-action-button file-remove">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </li>
</script>
